@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');

:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #251A1A;
  --secondary-color: #9D0B0B;
  --header-color: #E23B1E;
  --text-color: #fade80;
  --hover-color: #413232;
}

h1, h2, h3, h4  {
  font-family: 'Jura';
}

body {
  background-color: var(--primary-color)!important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  scroll-behavior: smooth;
}

.row-content {
  margin-top: 8rem;
}